# Python dependencies
dbus-python
pygobject
#opencv-python-headless
opencv-python
ultralytics
pytesseract
tesseract-ocr-por
pyspellchecker

# Note: Install Portuguese language data for Tesseract using the following command:
# sudo apt-get install tesseract-ocr-por
